body {
	padding-left: 75px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-menu {
	z-index: 100;
	left: -375px;
	width: 450px;
	vertical-align: top;
	position: fixed;
	top: 0;
	bottom: 0;
}
.vertical-menu-block {
	z-index: 100;
	vertical-align: top;
	height:100%;
	min-height:100%;
	width: 100%;
	font-size: 0;
}
.vertical-menu .vertical-menu-show {
	background: #3d0047;
	height: 100%;
	width: 75px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.vertical-menu .vertical-menu-hide {
	background: white ;
	height: 100%;
	overflow: auto;
	z-index: 100;
	position: relative;
	width: calc(100% - 76px);
	display: inline-block;
	font-size: 16px;
}
.vertical-menu .vertical-menu-show ul {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	font-size: 25px;
	z-index: 50;
    overflow: auto;
    max-height: 300px;
}
.vertical-menu .vertical-menu-show ul li {
	display: block;
	background: #6A0088;
	height: 75px;
	width: 75px;
	text-align: center;
	color: white;
	padding-top: 16px;
}
.vertical-menu .vertical-menu-show ul:nth-child(2) li:last-child {
	background: #ed7600;
	z-index: 50;
	display: block;
}
.vertical-menu .vertical-menu-show ul li:hover {
	cursor: pointer;
}
.vertical-menu .vertical-menu-show ul:first-child {
	bottom: inherit;
	top: 0;
	z-index: 102;
}
.vertical-menu .vertical-menu-show ul:nth-child(2) {
	top: 75px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu-vertical-up {
	display: none;
}
.vertical-menu-open {
	animation: vertical-menu-close 0.5s infinite;
	animation-iteration-count: 1;
	left: 0;
}
.vertical-menu-close {
	animation: vertical-menu-open 0.5s infinite;
	animation-iteration-count: 1;
	left: -375px;
}
@keyframes vertical-block-close {
	0% {
		left: 0;
	}
	100% {
		left: -45px;
	}
}
@keyframes vertical-block-open {
	0% {
		left: -45px;
	}
	100% {
		left: 0;
	}
}
@keyframes vertical-out-opacity-hide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes vertical-out-opacity-show {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.vertical-block-open {
	animation: vertical-block-close 0.5s infinite;
	animation-iteration-count: 1;
	left: -45px;
}
.vertical-block-close {
	animation: vertical-block-open 0.5s infinite;
	animation-iteration-count: 1;
	left: 0;
}
.vertical-out-opacity-show {
	animation: vertical-out-opacity-show 1s infinite;
	animation-iteration-count: 1;
	opacity: 0;
}
.vertical-out-opacity-hide {
	animation: vertical-out-opacity-hide 1s infinite;
	animation-iteration-count: 1;
	opacity: 1;
}
.vertical-menu .vertical-menu-hide {
	color: white;
	padding-top: 75px;
	padding-bottom: 75px;
}
.vertical-menu .header-menu-vertical {
	height: 75px;
	background: white;
	padding-vertical: 40px;
	position: absolute;
	top: 0;
	z-index: 101;
	width: 86%;
	padding-left: 25px;
}
.vertical-menu .header-menu-vertical div:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.vertical-menu .header-menu-vertical div:last-child {
    font-size: 14px;
    color: gray;
    font-style: italic;
}
.vertical-menu .header-menu-vertical .item {
	height: 75px;
	width: 75px;
	min-height: inherit;
	min-width: inherit;
	display: inline-block;
	vertical-align: top;
}
.vertical-menu .header-menu-vertical .bug{
	cursor: pointer;
}
.vertical-menu .header-menu-vertical .sign-out {
	background: #128700;
	font-size: 25px;
	padding-top: 18px;
	text-align: center;
	float: left;
	padding-left: 1px;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.vertical-menu .header-menu-vertical .bug {
	background: #00cfd6;
	font-size: 25px;
	padding-top: 16px;
	text-align: center;
}
.vertical-menu .header-menu-vertical .sign-out:hover {
	cursor: pointer;
}
.vertical-menu .header-menu-vertical .image img {
	height: 100%;
}
ul.vertical-menu-ul ul {
	margin: 0;
	padding: 0;
	display: none;
}
ul.vertical-menu-ul {
	margin: 0;
	padding: 0;
	color: white;
}
.vertical-menu-ul li {
	display: block;
	font-weight: bold;
}
.vertical-menu-ul li a {
	display: block;
	padding: 14px 25px;
	text-decoration: none;
}
.vertical-menu-ul li.active li a {
	background: white;
	color: #3d0047;
}
.vertical-menu-ul li a:hover {
	background: #dcdcdc;
}
.vertical-menu-ul li li a:hover {
	background:  #dcdcdc;
}
.vertical-menu-ul li.active a {
	background: white;
	color: #3d0047;
}
.vertical-menu-ul li a {
	border-top: 1px solid #3d0047;
	color: #3d0047;
}
.vertical-menu-ul li li a {
	border-left: 4px solid #3d0047;
}
.vertical-menu-ul li.active a {
	background:  #6A0088;
	color: white;
}
.vertical-menu-ul li.active li.active a {
	background:  #6A0088;
	color: white;
}
.vertical-menu-ul li:last-child a {
	border-bottom: 1px solid #3d0047;
}
.vertical-menu-ul ul li:last-child a {
	border-bottom: 4px solid #3d0047;
}
.vertical-menu-ul ul li:first-child a {
	border-top: 5px solid #3d0047;
}
a[href="#"]:before { 
    content: "\f0dd";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: -3px;
    margin-right: 5px;
}